bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/YorozuyaServer/v17/.futdcache.v2
/.vs/YorozuyaServer/v17/.suo
/.vs/YorozuyaServer/FileContentIndex
/.vs/YorozuyaServer/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation
/Yorozuya.exe
